*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #12475f;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    line-height: 1.5;
}
.header{
    height: 300px;
}
.header h1{
    position: relative;
    animation-name: myanimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.container{
    max-width: 60%;
    margin: auto;
    padding: 0 20px;
}
.content{
    animation-name: moveInRight;
    animation-duration: 2s;
    position: relative;
    animation-fill-mode: forwards;
}

@keyframes myanimation{
    0%{
        top: -50px;
    }
 100%{
    top: 200px;
 }
}

@keyframes moveInRight{
    0%{left: -1000px;}
    100%{left:0;}

}
.btn{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    border: white 1px solid ;
    margin-top: 40px;
    font-size: 0.8rem;
    opacity: 0;
    animation-name: btn;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transition: all 1s;

    
}
.btn:hover{
    transform: rotatey(180deg);
}
@keyframes btn {
    0%{opacity: 0}
    100%{opacity: 1}
    
}